
h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Sørger for at h1 er øverst */
}

body {
    background-color: #A7C7E7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
  }

  .innhold {
    text-align: center;
  }

  #game-innhold {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #start-knapp {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #9cadce;
    height: 60px;
    width: 700px;


  }
  #tall-display{
    font-size: 25px;
    text-align: center;
  }

