
h1 {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  
}/*overskriften sin style */

body {
    background-color: #A7C7E7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
  }/*bakgrunnen til body, setter også litt opp for de andre 
  elementene inni body */

  

  .innhold {
    text-align: center;
  }/*sentrerer alt innenfor innhold-gruppen*/

  #game-innhold {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }/*setter opp boksen der tallene og sånt kommer */

  #start-knapp {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #9cadce;
    height: 60px;
    width: 700px;
  } /*setter opp startknappen */ 


  #tall-display{
    font-size: 25px;
    text-align: center;
  }/*steller opp størrelsen på tallene og teksten*/ 

